ion-content {
    --background-color: cadetblue;
    * {
        margin: 0;
        padding: 0;
    }
    h1 {
        // background-color: aqua;
        height: 40%;
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    }
    p {
        // background-color: azure;
        height: 20%;
        font-size: 15px;
    }
    #div-content {
        // background-color: darkcyan;
        // background: transparent;
        padding: 5%;
        height: 100%;
        width: 100%;
    }
    #div-content-ppal {
        // background-color: rgb(59, 59, 59);
        // box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
        // background: transparent;
        border-radius: 40px;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    #div-part-top {
        // background-color: chartreuse;
        height: 60%;
        width: 100%;
    }
    #div-part-bottom {
        // background-color: darkblue;
        height: 40%;
        width: 100%;
    }
    #div-list {
        // background-color: aqua;
        width: 60%;
        height: 100%;
        display: inline-block;
        overflow-y: auto;
        scroll-behavior: auto;
    }
    #list-files {
        border-radius: 10px;
        width: 99%;
    }
    #div-part-bottom h2 {
        font-size: 15px;
        text-align: left;
    }
    #div-boton {
        // background-color: darkmagenta;
        height: 100%;
        width: 30%;
        float: right;
    }
    #btn-Submit {
        // background-color: aquamarine;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        font-size: 1em;
        padding: 10%;
        text-align: center;
    }
    #div-lbl-file {
        // background-color: cadetblue;
        width: 60%;
        margin: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #lbl-file {
        // background-color: darkorange;
        height: 10%;
        max-width: 60%;
        font-size: 2em;
        text-align: center;
        color: rgb(111, 105, 199);
    }
    #p-lbl-file {
        font-size: 15px;
        color: rgb(167, 167, 167);
        margin: auto;
        width: 30%;
        height: 5%;
        text-align: left;
    }
    //Botón del buscador de archivos.
    #btn-dcr2 {
        // background-color: darkgreen;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    #btn-dcr {
        // background-color: cornflowerblue;
        margin: auto;
        width: 30%;
        height: 10%;
        font-size: 1em;
    }
}